._main-container-apple-notice{
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

// LAYOUT APPLE IZQUIERA
._apple-container-left{
    max-width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #ccc;
}
._primer-apple-title-about-container{
    padding: 20px;
    width: 50%;
}
// h1 tittle
._apple-h1-tittle{
    font-family: 'Roboto';
    font-size: 30px;
    margin-bottom: 10px;
}
// p description
._apple-p-description-only{
    font-size: 17px;
    font-family: 'Poppins';
    margin: 0px;
}
// IMAGE
._primer-apple-img{
    max-width: 100%;
}
._primer-apple-img img{
    max-width: 100%;
    width: 500px;
}
// Second Component All Cards
._all-notices-apple-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
// EACH CARD
._apple-notices-card{
    font-family: 'Roboto';
    // width: 285px;
    max-width: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.5s ease;
    &:hover{
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.514);
        cursor: pointer;
    }
}
// H1 CARD
._apple-notice-card-h1{
    font-size: 19px;
}
// IMAGE
._apple-img-notice-card{
    max-width: 100%;
}

._apple-img-notice-card img{
    max-width: 100%;
    width: 100%;
}


@media screen and (max-width: 1200px){
    ._all-notices-apple-container{
        grid-template-columns: repeat(3, 1fr);
    }
    ._primer-apple-title-about-container{
        padding: 20px;
        width: 100%;
    }
    ._primer-apple-img img{
        max-width: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 975px){
    ._all-notices-apple-container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media screen and (max-width: 670px){
    ._all-notices-apple-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 599px){
    ._main-container-apple-notice{
        padding-top: 100px;
    }
    ._apple-container-left{
        flex-wrap: wrap;
    }
}

