

._main-container-apple-notice{
    width: 100%;
    padding: 50px 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

// ALL INFORMATION LEFT
._all-apple-notices-info{
    display: flex;
    flex-direction: column;
    // width: 70%;
    row-gap: 10px;
}

// LAYOUT APPLE IZQUIERA

._primer-apple-title-about-container{
    padding: 20px;
}
._apple-container-left{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid #ccc;
}

// h1 tittle
._apple-h1-tittle{
    font-family: 'Roboto';
    font-size: 20px;
    margin-bottom: 10px;
}

// p description
._apple-p-description-only{
    font-size: 17px;
    font-family: 'Poppins';
}

// IMAGE
._primer-apple-img img{
    width: 350px;
    height: 250px;
}

// ALL CARDS
._all-notices-apple-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}
// EACH CARD
._apple-notices-card{
    font-family: 'Roboto';
    width: 275px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

// H1 CARD
._apple-notice-card-h1{
    font-size: 19px;
}

// IMAGE
._apple-img-notice-card img{
    width: 100%;
}


// ANOTHER COMPONENT CONTAINER
._cards-about-tech-crunch{
    // display: flex;
    // align-items: flex-start;
    // gap: 20px;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
// TECH-CRUND-CONTAINER- CARDS
._tech-crunch-card{
    width: 275px;
    max-width: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    padding: 10px;
}
// TECH IMAGE
.tech-crunch-image{
    max-width: 100%;
}
._tech-crunch-image img{
    max-width: 100%;
}
// TECH CRUNCH H1
._tech-crunch-info-h1{
    font-family: 'Roboto';
    font-size: 20px;
    margin-bottom: 4px;
}
._tech-crunch-info-p{
    font-family: 'Roboto';
}
