.main-loading{
    width: 100%;
    position: relative;
    min-height: 100vh;
}
.loading{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    left: 45%;
    top: 30%;
    border: 13px solid #ccc;
    border-left-color: lightblue;
    animation-name: first-loading;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes first-loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}